# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build files
*.spec
dist/
build/

# Text/Log files (optional)
*.txt

# Virtual environment (if any)
venv/
env/

# VSCode settings (optional)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
